@media(max-width: 80rem){

    .intro-text h6{
        font-size: 2rem;
    }

    .msg{
        border-right: 8px solid black;
        white-space: nowrap;
        overflow: hidden;
    
        width: 0;
    
        animation: mark 0.5s step-end infinite, write 6s steps(22, end) infinite;
    
    }
    
    @keyframes mark{
        50%{
            border-right-color: transparent;
        }
    }
    
    @keyframes write{
        20%{
            width: 26.5rem;
        }
    
        70%{
            width: 26.5rem;
        }
    
        85%{
            width: 0;
        }
    
        100%{
            width: 0;
        }
    }

    .button-github{
        background: white;
        border-radius: 10%;
    }

    .button-whatsapp{
        background: #25D366;
        border-radius: 10%;
    }

    .button-linkdin{
        background: #0e76a8;
        border-radius: 10%;
    }
    
    .intro-content, .grid{
        grid-template-columns: 1fr;
        width: 100%;
    }

    .grid-one-content{
        display: block;
    }

    .menu{
        bottom: 0;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .menu-content{
        height: 100vh; 
    }

    .menu{
        display: none;
    }

    .close-menu{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after{
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        height: 3rem;
        width: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
    
    .close-menu:checked~.menu{
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: '✖';
    }

    .menu-space{
        display: none;
    }

    h1, h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.5rem;
    }
    h4{
        font-size: 2rem;
    }

    .container-project{
    transform: translate(-50%, -50%);
    width: 600px;
    height: 100%;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.container-project .slide .item-project{
    width: 100px;
    height: 150px;

}

.slide .item-project:nth-child(1),
.slide .item-project:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item-project:nth-child(3){
    left: 70%;
}
.slide .item-project:nth-child(4){
    left: calc(70% + 80px);
}
.slide .item-project:nth-child(5){
    left: calc(70% + 160px);
}

.slide .item-project:nth-child(n + 6){
    left: calc(70% + 240px);
    opacity: 0;
}
.item-project .content-project{
    position: absolute;
    top: 50%;
    left: 150px;
    width: 200px;
    text-align: left;
    text-shadow: 0 0 20px black;
    color: white;
    transform: translate(0, -50%);
    display: none;
}
}