body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 5em;
}

.resultado {
    font-size: 2em;
}

.alerta {
    padding: 1em;
    margin-top: 1em;
    border-radius: 5px;
    color: white;
}

.alta {
    background-color: #DC3545;
}

.media {
    background-color: #FFC107;
    color: black;
}

.baixa {
    background-color: #28A745;
}

a {
    text-decoration: none;
    color: #007BFF;
}


.container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #333;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #555;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.full-width {
    grid-column: 1 / -1;
}

button {
    grid-column: 1 / -1;
    background-color: #007BFF;
    color: white;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
}

button:hover {
background-color: #0056b3;
}