 body {
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select{
    padding: 10px;
    font-size: 1rem;
}

button{
    padding: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

h2{
    color: #007bff;
}

.btn-refazer {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}