.intro-content{
    margin: 0 auto;
    padding: var(--gap); 
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    align-items: center;
    
}
.intro-text{
    color: aliceblue;
    justify-self: start;
}

.intro-img{
    justify-self: end;

}

.intro-img img{
    width: 50px;
    height: 50px;
}

.video{
    position: relative;
    padding-bottom: 50%;

}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.presentation{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
    text-align: center;
}

.grid-one-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.grid-main-heading{
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

.grid-description{
    padding-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap);
    justify-content: space-around;
    counter-reset: grid-counter;
}

.close-menu{
    display: none;
}

.menu img{
    width: 80px;
}

.contact-img{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--gap);
    color: var(--primary-color);
}

.contact-img img{
    padding: 10px;
    width: 100px;
}
