<section id="apresentacao" class="section main-bg">
        <div class="presentation">
            <h2>Minha motivação</h2>
            <p>Sou uma pessoa apaixonada por tecnologia, sou novo na area de programação,
                mas acredito ter potencial para me tornar um grande profissional.
                Tenho conhecimento em desenvolvido web, e agora com minha faculdade venho me aprimorando, em ciências de dados.
                Meu objetivo é me tornar um grande profissional, e sei que para conseguir preciso passar por grandes desafios,
                por isso busco estar sempre me atualizando e evoluindo.
            </p>
        </div>
    </section>