<section id="apresentacao" class="intro-content section main-bg">
        <div class="presentation">
            <h3>Minha motivação</h3>
            <p>Sou uma pessoa apaixonada por tecnologia, estou em transição de carreira,
                mas acredito ter potencial para me tornar um grande profissional.
                Tenho conhecimento em desenvolvido web, e agora com minha faculdade venho me aprimorando, em ciências de dados.
                Neste video falo um pouco mais sobre mim!
            </p>
        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=opW5DS9G3yw"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>

    </section>