{% load static %}
<section id="contato" class="section white-bg">
        <div class="main-content intro-content">
            <div class="">
                <h2>Contato</h2>
                <p>Para mais informações e perguntas, basta entrar em contato</p>
                <div class="grid">
                    <a href="https://github.com/pedrobent" target="_blank">
                        <div class="contact-img contact-git">
                            <img src="{% static 'global/img/25231.png' %}" alt="icone github">
                            <h4>pedrobent</h4>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/pedro-bento-05928a201/" target="_blank">
                        <div class="contact-img contact-linkedin">
                            <img src="{% static 'global/img/linkedin (2).png' %}" alt="icone linkdin">
                            <h4>Pedro Bento</h4>
                        </div>
                    </a>

                    <a href="https://wa.me/qr/BSRO7X37X7RCM1" target="_blank">
                        <div class="contact-img contact-whats">
                            <img src="{% static 'global/img/transferir.png' %}" alt="Icone whatsapp">
                            <h4>(11)98965-5543</h4>
                        </div>

                    </a>
                </div>

            </div>
        </div>
    </section>