{% load static %}
<section id="habilidades" class="section-skill white-bg ">
        <div class="main-content">
            <h3 class="grid-main-heading">Minhas habilidades</h3>
            <p class="grid-description "></p>
            <div class="grid-one-content">
                <article>
                    <h3>Back-end</h3>
                    <div class="direction">
                        <span class="transition-text">
                            <img src="{% static 'global/img/python.png' %}" alt="Icone python">
                            <p> Python</p>
                        </span>
                        <span class="transition-text">
                            <img src="{% static 'global/img/unnamed.png' %}" alt="Icone django">
                            <p>Django</p>
                        </span>
                        <span class="transition-text">
                            <img src="{% static 'global/img/icons8-mysql-48.png' %}" alt="Icone mysql">
                            <p>MySQL</p>
                        </span>
                    </div>
                </article>
                <article>
                    <h3>Front-end</h3>
                    <div class="direction">
                        <span class="transition-text">
                            <img src="{% static 'global/img/html-5.png' %}" alt="Icone HTML">
                            <p>HTML</p>
                        </span>
                        <span class="transition-text">
                            <img src="{% static 'global/img/css-3.png' %}" alt="Icone CSS">
                            <p>CSS</p>
                        </span>
                    </div>
                </article>
                <article>
                    <h3>Diversos</h3>
                    <div class="direction">
                        <span class="transition-text">
                            <img src="{% static 'global/img/icons8-poder-bi-2021-480.png' %}" alt="Icone power bi">
                            <p>Power BI</p>
                        </span>
                        <span class="transition-text">
                            <img src="{% static 'global/img/escritorio.png' %}" alt="Icone pacote office">
                            <p>Pacote Office</p>
                        </span>
                    </div>
                </article>
            </div>
        </div>
    </section>