{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio | Pedro Bento</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'global/css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/styles-home.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/classes.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/elements.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/button.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/project.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/media.css' %}">