{% load static %}
<input id="close-menu" class="close-menu" type="checkbox" aria-label="close menu" role="button">
    <label class="close-menu-label" for="close-menu" title="close-menu"></label>
    <aside class="menu">
        <div class="main-content menu-content">
            <h1 onclick="getElementById('close-menu').checked = false">
                <a href="#intro"><img src="{% static 'global/img/oie_VwzTkIsXF2IU.png' %}" alt=""></a>
            </h1>
            <nav>
                <ul onclick="getElementById('close-menu').checked = false">
                    <li><a href="#apresentacao">Apresentação</a></li>
                    <li><a href="#habilidades">Habilidades</a></li>
                    <li><a href="#projetos">Projetos</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </nav>
        </div>
    </aside>

    <div class="menu-space"></div>