{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />


<section id="projetos" class="section main-bg">

    <div class="container-project">

        <div class="slide">
            
            <div class="item-project" style = "background-image: url('static/global/img/credito.png')">
                <div class="content-project project-button">
                    <h4 class = "name">Analise de credito<h4>
                        <p class = "description">
                            Nesse projeto foi feito a analise de aprovação de credito.
                        </p>
                    
                    <a href="{% url 'home:credito' %}"><button>ver mais...</button></a>
                    <a href="https://github.com/pedrobent/an-lise-de-risco-de-cr-dito"><button>< Repositorio /></button></a>
                </div>
            </div>
            
            <div class="item-project" style = "background-image: url('static/global/img/seguro.png')">
                <div class="content-project project-button">
                    <h4 class = "name">Analise de Fraude<h4>
                        <p class = "description">
                            Nesse projeto foi feito um modelo para predição de fraude de seguro de veiculos utilizando um banco de dados publico do kaggle.
                        </p>
                        
                    <a href="{% url 'home:seguro' %}"><button>ver mais...</button></a>
                    <a href="https://github.com/pedrobent/Deteccao-de-Fraudes-em-Sinistros-de-Automoveis"><button>< Repositorio /></button></a>
                </div>
            </div>

            <div class="item-project" style = "background-image: url('static/global/img/page-receitas.jpg')">
                <div class="content-project project-button">
                    <h4 class = "name">site receitas<h4>
                        <p class = "description">
                            Nesse projeto foi realizado cadastro de usuario criação e edição de receita, com paginação e busca.
                        </p>
                        
                    <a href="{% url 'recipes:home' %}"><button>ver mais...</button></a>
                    <a href="https://github.com/pedrobent/django-projeto"><button>< Repositorio /></button></a>
                </div>
            </div>

            
            
            <div class="item-project" style = "background-image: url('static/global/img/site-dash.jpg')">
                <div class="content-project project-button">
                    <h4 class = "name">Dashboards<h4>
                        <p class = "description">
                            Alguns dos meus dashboards feito no Power BI. 
                        </p>
                        
                    <a href="https://sites.google.com/view/dashboardspedrobento/in%C3%ADcio"><button>ver mais...</button></a>
                </div>
            </div>
            
            <div class="item-project" style = "background-image: url('static/global/img/seguro.png')">
                <div class="content-project project-button">
                    <h4 class = "name">Analise de Fraude<h4>
                        <p class = "description">
                            Nesse projeto foi feito um modelo para predição de fraude de seguro de veiculos utilizando um banco de dados publico do kaggle.
                        </p>
                        
                    <a href="{% url 'home:seguro' %}"><button>ver mais...</button></a>
                    <a href="https://github.com/pedrobent/Deteccao-de-Fraudes-em-Sinistros-de-Automoveis"><button>< Repositorio /></button></a>
                </div>
            </div>
            
            <div class="item-project" style = "background-image: url('static/global/img/github.png')">
                <div class="content-project project-button">
                    <h4 class = "name">outros projetos<h4>
                        <p class = "description">
                            Projetos ainda não finalizados no meu Github. 
                        </p>
                        
                    <a href="https://github.com/pedrobent"><button>ver mais...</button></a>
                </div>
            </div>

        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>

    </div>

</section>

<script src="{% static 'global/js/project.js' %}"></script>