{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />


<section id="projetos" class="section main-bg">

    <div class="container-project">

        <div class="slide">

            <div class="item-project" style = "background-image: url('static/global/img/page-receitas.jpg')">
                <div class="content-project project-button">
                    <h4 class = "name">site receitas<h4>
                        <p class = "description">
                            Nesse projeto foi realizado cadastro de usuario criação e edição de receita, com paginação e busca.
                        </p>
                        
                    <a href="https://pedrobentodev.com.br/recipes"><button>ver mais...</button></a>
                    <a href="https://github.com/pedrobent/django-projeto"><button>< Repositorio /></button></a>
                </div>
            </div>

            <div class="item-project" style = "background-image: url('static/global/img/page-receitas.jpg')">
                <div class="content-project project-button">
                    <h4 class = "name">site receitas<h4>
                        <p class = "description">
                            Nesse projeto foi realizado cadastro de usuario criação e edição de receita, com paginação e busca.
                        </p>
                        
                    <a href="https://pedrobentodev.com.br/recipes"><button>ver mais...</button></a>
                    <a href="https://github.com/pedrobent/django-projeto"><button>< Repositorio /></button></a>
                </div>
            </div>

            <div class="item-project" style = "background-image: url('static/global/img/page-receitas.jpg')">
                <div class="content-project project-button">
                    <h4 class = "name">site receitas<h4>
                        <p class = "description">
                            Nesse projeto foi realizado cadastro de usuario criação e edição de receita, com paginação e busca.
                        </p>
                        
                    <a href="https://pedrobentodev.com.br/recipes"><button>ver mais...</button></a>
                    <a href="https://github.com/pedrobent/django-projeto"><button>< Repositorio /></button></a>
                </div>
            </div>

            <div class="item-project" style = "background-image: url('static/global/img/page-receitas.jpg')">
                <div class="content-project project-button">
                    <h4 class = "name">site receitas<h4>
                        <p class = "description">
                            Nesse projeto foi realizado cadastro de usuario criação e edição de receita, com paginação e busca.
                        </p>
                        
                    <a href="https://pedrobentodev.com.br/recipes"><button>ver mais...</button></a>
                    <a href="https://github.com/pedrobent/django-projeto"><button>< Repositorio /></button></a>
                </div>
            </div>

            <div class="item-project" style = "background-image: url('static/global/img/page-receitas.jpg')">
                <div class="content-project project-button">
                    <h4 class = "name">site receitas<h4>
                        <p class = "description">
                            Nesse projeto foi realizado cadastro de usuario criação e edição de receita, com paginação e busca.
                        </p>
                        
                    <a href="https://pedrobentodev.com.br/recipes"><button>ver mais...</button></a>
                    <a href="https://github.com/pedrobent/django-projeto"><button>< Repositorio /></button></a>
                </div>
            </div>

            <div class="item-project" style = "background-image: url('static/global/img/page-receitas.jpg')">
                <div class="content-project project-button">
                    <h4 class = "name">site receitas<h4>
                        <p class = "description">
                            Nesse projeto foi realizado cadastro de usuario criação e edição de receita, com paginação e busca.
                        </p>
                        
                    <a href="https://pedrobentodev.com.br/recipes"><button>ver mais...</button></a>
                    <a href="https://github.com/pedrobent/django-projeto"><button>< Repositorio /></button></a>
                </div>
            </div>
            
        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>

    </div>

</section>

<script src="{% static 'global/js/project.js' %}"></script>